# Data Type and Structure

**Ques 1.** What are data structures, and why are they important?

**Ans:**
Data structures are ways of organizing and storing data so that they can be accessed and manipulated efficiently. They are important because they enable efficient algorithms, data management, search, and processing, which are crucial for software development and data analysis.

**Ques 2**. Explain the difference between mutable and immutable data types with examples.

**Ans:** Mutable data types can be changed after they are created (e.g., lists, dictionaries). Immutable data types cannot be changed after they are created (e.g., tuples, strings).

**Ques 3.** What are the main differences between lists and tuples in Python?

**Ans:**
Lists are mutable, while tuples are immutable. Lists are defined using square brackets [], and tuples are defined using parentheses ().

**Ques 4.** Describe how dictionaries store data.

**Ans:**
Dictionaries store data in key-value pairs. Keys are unique identifiers, and values are the data associated with those keys.

**Syn:** My_dict{key:value}

**Ques 5.** Why might you use a set instead of a list in Python?

**Ans:** Sets are used when you need to store unique elements and perform set operations (e.g., union, intersection). Sets offer faster membership testing compared to lists.

**Ques 6.** What is a string in Python, and how is it different from a list?

**Ans:** A string is a sequence of characters. Strings are immutable, while lists are mutable. Strings are used for text, while lists can store various data types.

**Ques 7.** How do tuples ensure data integrity in Python?

**Ans:**
Tuples ensure data integrity because they are immutable, preventing accidental modification of data.

**Ques 8.** What is a hash table, and how does it relate to dictionaries in Python?

**Ans:**
A hash table is a data structure that implements an associative array, similar to a dictionary.
Dictionaries in Python are implemented using hash tables for efficient key-based lookups.

**Ques 9.** Can lists contain different data types in Python?

**Ans:**
Yes, lists in Python can contain elements of different data types.

**Ques 10.** Explain why strings are immutable in Python.

**Ans:** Strings are immutable for efficiency reasons. It avoids the overhead of allocating new memory every time a string is modified.

**Ques 11.** What advantages do dictionaries offer over lists for certain tasks?

**Ans:**
Dictionaries offer faster data retrieval using keys compared to lists, which require searching through elements.

**Ques 12.** Describe a scenario where using a tuple would be preferable over a list.

**Ans:** Tuples are preferable when you need to store a collection of items that should not be changed, such as coordinates or configuration settings.

**Ques 13.** How do sets handle duplicate values in Python?

**Ans:** Sets automatically remove duplicate values, ensuring that each element is unique.

In [1]:
my_set = {"red", "green", "blue", "red"}
print(my_set)

{'blue', 'green', 'red'}

**Ques 14.** How does the "in" keyword work differently for lists and dictionaries?

**Ans.** For lists, the "in" keyword checks for the presence of a value in the list.
For dictionaries, the "in" keyword checks for the presence of a key in the dictionary.

In [2]:
my_list = [1,2,3,4,5]
if 3 in my_list:
    print("3 is in the list")
my_dict = {"Dad":1234, "Mom":4321, "Bro":5678}
if "Mom" in my_dict:
    print("Mom is in the dictionary")

3 is in the list
Mom is in the dictionary

**Ques 15.** Can you modify the elements of a tuple? Explain why or why not.

**Ans:** No, you cannot modify the elements of a tuple because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed.

In [17]:
my_tuple = (1,2,3,4,5)
my_tuple[0]=6

TypeError: 'tuple' object does not support item assignment

**Ques 16.** What is a nested dictionary, and give an example of its use case?

**Ans:**
A nested dictionary is a dictionary where values are also dictionaries. Example: Storing student records with details like name, grades, and contact information, where grades and contact information are further dictionaries.

**Ques 17.** Describe the time complexity of accessing elements in a dictionary.

**Ans:**
The average time complexity of accessing elements in a dictionary is O(1) (constant time) due to the use of hash tables

**Ques 18.** In what situations are lists preferred over dictionaries?

**Ans.**
Lists are preferred when you need to store an ordered collection of items and the order of elements matters.
Lists are also preferred when you have a sequence of data where elements are accessed by their position (index).

**Ques19.** Why are dictionaries considered unordered, and how does that affect data retrieval?

**Ans:**
Dictionaries are considered unordered because the order of key-value pairs is not guaranteed.
This means you cannot rely on the order of elements when retrieving data, but dictionaries provide fast retrieval based on keys.

**Ques20.**Explain the difference between a list and a dictionary in terms of data retrieval.

**Ans:**
In a list, you retrieve data by its index (position).
In a dictionary, you retrieve data by its key.

#Practical Questions:

In [18]:
#Ques1. Write a code to create a string with your name and print it.
#Ans:

my_name = "Avinash Bhardwaj"
print(my_name)

Avinash Bhardwaj

In [20]:
#Ques2. Write a code to find the length of the string "Hello World".

#Ans:

Str = "Hello World"
len(Str)

11

In [21]:
#Ques 3. Write a code to slice the first 3 characters from the string "Python Programming".

#Ans:

Str = "Python Programming"
Str[0:3]

'Pyt'

In [22]:
#Ques 4. Write a code to convert the string "hello" to uppercase.

#Ans:

Str = "hello"
Str.upper()

'HELLO'

In [23]:
#Ques 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
#Ans:
string = "I like apple"
string.replace("apple", "orange")

'I like orange'

In [24]:
#Ques 6. Write a code to create a list with numbers 1 to 5 and print it..
#Ans:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [25]:
# Ques 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
#Ans:

my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [26]:
#Ques 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

#Ans:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [27]:
#Ques 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
#Ans:
my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [28]:
#Ques 10. Write a code to reverse the list [10, 20, 30, 40, 50].

#Ans:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [29]:
#Ques 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

#Ans:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [31]:
#Ques 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
#Ans:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

In [32]:
#Ques 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
#Ans:
my_tuple = (10, 20, 5, 15)
min(my_tuple)

5

In [33]:
#Ques 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
#Ans:

my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index('cat')

1

In [34]:
#Ques 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

#Ans:
my_tuple = ("apple", "banana", "cherry")
if "kiwi" in my_tuple:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [35]:
#Ques 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

#Ans:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [36]:
#Ques 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

#Ans:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [37]:
#Ques 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

#Ans:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [38]:
#Ques 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

#Ans:
my_set1 = {1,2,3}
my_set2 = {3,4,5}
my_set1.union(my_set2)

{1, 2, 3, 4, 5}

In [39]:
#Ques 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

#Ans:
my_set1 = {1,2,3}
my_set2 = {2,3,4}
my_set1.intersection(my_set2)

{2, 3}

In [40]:
#Ques 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

#Ans:
my_dict = {"name":"Avinash", "age":30, "city":"Allahabad"}
print(my_dict)

{'name': 'Avinash', 'age': 30, 'city': 'Allahabad'}

In [41]:
#Ques 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
#Ans:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [42]:
#Ques 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
#Ans:
my_dict = {'name': 'Alice', 'age': 30}
my_dict["name"]

'Alice'

In [43]:
#Ques 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
#Ans:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop("age")
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [44]:
#Ques 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
#Ans:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("city is in the dictionary")
else:
    print("city is not in the dictionary")

city is in the dictionary

In [45]:
#Ques 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
#Ans:
my_list = [1,2,3]
my_tuple = (2,3,4)
my_dict = {"Name":"Avi", "Age":30, "City": "Allahabad"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(2, 3, 4)
{'Name': 'Avi', 'Age': 30, 'City': 'Allahabad'}

In [46]:
#Ques 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
#Ans:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [3, 16, 30, 39, 74]

In [50]:
#Ques 28. Write a code to create a list with strings and print the element at the third index.

#Ans:
my_list = ["Avinash", "bhardwaj", "pwskills", "Allahabad"]
print(my_list[3])

Allahabad

In [51]:
#Ques 29. Write a code to combine two dictionaries into one and print the result.

#Ans:
dict1 = {"Name":"Avi", "Age":30}
dict2 = {"City":"Allahabad", "Country":"India"}
dict1.update(dict2)
print(dict1)

{'Name': 'Avi', 'Age': 30, 'City': 'Allahabad', 'Country': 'India'}

In [52]:
#Ques30. Write a code to convert a list of strings into a set.

#Ans:
my_list = ["Avinash", "bhardwaj", "pwskills", "Allahabad"]
my_set = set(my_list)
print(my_set)

{'bhardwaj', 'Allahabad', 'pwskills', 'Avinash'}